{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahjong Game</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
    <h1>Mahjong Game</h1>
    <div id="game-board">
        {% for layer in field %}
            <div class="layer">
                {% for tile in layer %}
                    {% if tile == "" %}
                        <div class="tile_pass"></div>
                    {% else %}
                        <div class="tile" data-value="{{ tile.0 }}">
                            <img src="{{ tile.1 }}" alt="{{ tile.0 }}" width="80px" height="60px">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <p>Score: <span id="score">0</span></p>
    <div id="timer">Time: 0:00</div> <!-- Таймер -->
    <script src="{% static 'js/game.js' %}"></script>
</body>
</html>
