{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Уровни" %}{% endblock %}

{% block content %}

<section class="container py-5">
  <h2 class="text-center mb-5">{% trans "Игры" %}</h2>

  <div class="row">
    {% for game in games %}
      <div class="col-md-4 mb-4">
        <div class="card shadow-lg border-light rounded">
          <div class="card-body">
            <h4 class="card-title text-center">{{ game.name }}</h4>

            <div class="d-flex justify-content-around">
              <a href="{% url 'game:game_board' pk=game.id lvl=1 %}" class="btn btn-success btn-lg w-100 mb-2">{% trans "Легкая игра" %}</a>
            </div>

            <div class="d-flex justify-content-around">
              <a href="{% url 'game:game_board' pk=game.id lvl=2 %}" class="btn btn-warning btn-lg w-100 mb-2">{% trans "Средняя игра" %}</a>
            </div>

            <div class="d-flex justify-content-around">
              <a href="{% url 'game:game_board' pk=game.id lvl=3 %}" class="btn btn-danger btn-lg w-100 mb-2">{% trans "Сложная игра" %}</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
