{% extends "base.html" %}

{% block title %}Уровни{% endblock %}

{% block content %}

<section>
  <h2>Игры</h2>
  {% for game in games %}
    <div>
      <h4>{{ game.name }}</h4>
      <a href="{% url 'game:game_board' pk=game.id lvl=1 %}" class="btn btn-primary">Легкая игра</a>
      <a href="{% url 'game:game_board' pk=game.id lvl=2 %}" class="btn btn-primary">Средняя игра</a>
      <a href="{% url 'game:game_board' pk=game.id lvl=3 %}" class="btn btn-primary">Сложная игра</a>
    </div>
  {% endfor %}
</section>

{% endblock %}
