{% load static %}
<header class="bg-dark text-white shadow py-3">
  <div class="container d-flex flex-wrap align-items-center justify-content-between">
    <a href="/" class="text-decoration-none text-white d-flex align-items-center">
      <img src="{% static 'img/logo.svg' %}" alt="Логотип" height="50" class="me-2">
      <span class="fs-4">Маджонг Авто</span>
    </a>
    <nav class="nav nav-pills">
      <a href="{% url 'homepage:main' %}" class="nav-link {% if view_name == 'homepage:main' %}active{% endif %}">Главная</a>
      <a href="{% url 'game:games' %}" class="nav-link {% if view_name == 'game:games' %}active{% endif %}">Игры</a>
      <a href="{% url 'game:rules' %}" class="nav-link {% if view_name == 'game:rules' %}active{% endif %}">Правила</a>
      {% if user.is_authenticated %}
        <a href="{% url 'users:logout' %}" class="nav-link">Выйти</a>
      {% else %}
        <a href="{% url 'users:login' %}" class="nav-link">Войти</a>
      {% endif %}
    </nav>
  </div>
</header>
